$gap-between-cards: 20px;
$card-width: 320px;
$card-height: 100px;

.container-main {
    padding: 25px 35px;

    .title-heading {
        font-size: 1.2rem;
        font-weight: 500;
        margin: 10px 0 10px;
        color: var(--primary-color);
    }

    >.card-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: $gap-between-cards;

        >div.card {
            width: $card-width;
            height: $card-height;
            border: 1px solid var(--quaternery-color);
            padding: 10px;
            border-radius: 10px;
            background-color: var(--primary-color);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            >div.title-container {
                display: flex;
                align-items: center;
                justify-content: space-between;

                >div.left-container>p.status {
                    color: white;
                    font-size: 0.7rem;
                    text-transform: capitalize;

                    >span.primary {
                        color: var(--img-completed-status);
                    }

                    >span.secondary {
                        color: var(--img-pending-status);
                    }
                }

                >div.dropdown>img {
                    background-color: var(--quaternery-color);
                    padding: 0 5px;
                    border-radius: 5px;
                    cursor: pointer;
                }

                .custom-tooltip {
                    position: absolute;
                    background-color: black;
                    color: white;
                    padding: 5px;
                    border-radius: 5px;
                    z-index: 1;
                    font-size: 0.75rem;
                }

                .title {
                    color: white;
                    text-transform: capitalize;
                    font-weight: 500;
                }
            }

            .date-container {
                font-size: 0.8rem;
                color: white;
            }

            .footer>p {
                color: white;
                font-size: 0.8rem;

                >span {
                    color: white;
                }
            }
        }

        .dropdown {
            position: relative;
            display: inline-block;

            .dropdown-content {
                display: none;
                position: absolute;
                top: 20px;
                background-color: var(--dropdown-bg);
                min-width: 100px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;

                >a {
                    font-size: 0.8rem;
                    font-weight: 500;
                    padding: 5px 10px;
                    text-decoration: none;
                    display: block;
                    cursor: pointer;

                    &:hover {
                        background-color: #f1f1f1;
                    }
                }
            }
        }
    }
}

@media (max-width: 730px) {
    div.card-container {
        justify-content: center !important;
    }
}

@media only screen and (min-width: 730px) and (max-width: 900px) {
    div.card {
        width: $card-width - 60px !important;
    }
}