<div class="container-main">
    <p class="title-heading">All Tasks</p>
    <div class="card-container">
        @for (item of taskDetailsResponse; track $index) {
        <div class="card">
            <div class="title-container">
                <div class="left-container">
                    <p (mouseenter)="showTooltip[item.id] = item.title.length > 20"
                        (mouseleave)="showTooltip[item.id] =false" class="title">
                        {{truncateTitleWithTooltip(item.title).truncatedText}}
                        <span class="custom-tooltip" [style.display]="showTooltip[item.id] ? 'block' : 'none'"
                            *ngIf="showTooltip[item.id]">{{item.title}}</span>
                    </p>
                    <p class="status">Status : <span [ngClass]="{'primary': item.status.toLowerCase() !== 'pending',
                        'secondary': item.status.toLowerCase() === 'pending'}">{{item.status}}</span></p>
                </div>
                <div class="dropdown">
                    <!-- working with complete and pending only -->
                    <img src="assets/dots.png" alt="dots" class="dots" (click)="toggleDropdown($event)">
                    <div class="dropdown-content">
                        <a (click)="editTaskDetails(item.id)">Edit/View</a>
                        <a (click)="deleteTask(item.id)">Delete</a>
                    </div>
                </div>
            </div>
            <div class="date-container">Due Date : {{formatDate(item.dueDate)}}</div>
            <div class="footer">
                <p>Assigned to: <span>{{item.assignedTo}}</span></p>
            </div>
        </div>
        }
    </div>
</div>