nav {
    background-color: var(--ternary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 10;

    >h1 {
        font-size: clamp(0.8rem, 2vw, 2rem);
        color: white;
    }

    >ul {
        display: flex;
        align-items: center;
        justify-content: space-around;

        >li {
            list-style-type: none;
            cursor: pointer;
            font-weight: 500;
            padding: 0 10px;
            border-radius: 10px;
            color: white;
            font-size: clamp(0.7rem, 2vw, 1rem);

            &:last-child {
                margin-left: 10px;
            }

            &:hover {
                background-color: var(--primary-color);
            }
        }
    }
}

@media (max-width: 400px) {
    ul {
        justify-content: space-between !important;
    }
}